<template>
  <div id="app">
    <vue-topprogress ref="topProgress"></vue-topprogress>
    <router-view></router-view>
    <modal :with-button='false' width="400px" ref="agentModal">
      <h3>
        Your account has not been verified, yet
      </h3>
    </modal>
  </div>
</template>

<script>
import Modal from './pages/components/modal';
import { vueTopprogress } from 'vue-top-progress';

export default {
  name: 'app',
  components:{
    Modal,
    vueTopprogress
  },
  methods:
  {
    handleTokenExpired(){
      if(this.$cookie.get(this.config.cookie_name))
      {
        this.$cookie.delete(this.config.cookie_name);
        window.location.reload();
      }
    },
    hideLoading(){
      this.$refs.topProgress.done();
    }
    ,
    showAgentModal()
    {
      // this.$refs.agentModal.active = true;
      swal('Error', 'Your agent account has not been verified', 'error');
    },
    showLoading()
    {
       this.$refs.topProgress.start()
    }
  },
  mounted()
  {
    this.eventBus.$on('ajax.begun', this.showLoading);
    this.eventBus.$on('token.expired', this.handleTokenExpired)
    this.eventBus.$on('ajax.ended', this.hideLoading);
    this.eventBus.$on('agent.not_verified',this.showAgentModal);
  },
  beforeDestroy(){
    
    this.eventBus.$off('ajax.begun', this.showLoading);
    this.eventBus.$off('ajax.ended', this.hideLoading);
    this.eventBus.$off('agent.not_verified',this.showAgentModal);
  }
}
</script>
