<template>
  <span>
    <body class="hold-transition skin-blue sidebar-mini" ref='body'>
    <div class="wrapper">

      <page-header ref="pageHeader"></page-header>
      <side-bar></side-bar>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper"  @click="hideOpenDropDowns">
        <!-- Content Header (Page header) -->
        
        <!-- Main content -->
        <section class="content container-fluid">

          <slot></slot>

        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
      </footer>

      </div>
    </body>
  </span>
</template>

<script type="text/javascript">
  import PageHeader from './nav.vue';
  import SideBar from './sidebar.vue';
  export default{
    components:{
      PageHeader,
      SideBar
    },
    methods:{
      toggleSidebar(){
        this.$refs.body.classList.toggle('sidebar-collapse')
      },
      hideOpenDropDowns(){
        this.$refs.pageHeader.closeAllNav();
      }
    },
    mounted(){
      this.eventBus.$on('sidebar.toggle',this.toggleSidebar);
    },
    beforeDestroy()
    {
      this.eventBus.$off('sidebar.toggle',this.toggleSidebar);
    }
  }
</script>

<style type="text/css" scoped>
  div.content-wrapper
  {
    min-height: 90vh;
  }
</style>