<template>
  <span>
    <button class="btn btn-primary" @click="active=!active" v-if="withButton">
        {{buttonText}}
    </button>
    <div class="modal_backdrop" v-if="active">
        <div class="modal_item" v-bind:style="{maxWidth: calcWidth}">
            <div class="close" @click="active=false">
                &times;
            </div>
            <h4>{{title}}</h4>
            <slot></slot>
        </div>
    </div>
  </span>
</template>

<script>
export default {
  name : 'modal',
  props: {
      width: {
          default : '50%',
          type: [Number, String]
      },
      title:String,
      withButton : true,
      buttonText : {
          default : 'Open Modal',
          type     : String
      }
  },
  data(){
      return{
          active:false
      }
  }, 
  computed:{
      calcWidth(){
          if(typeof(width) == "Number")
          {
              return this.width+"px"
          }
          else
          {
              return this.width;
          }
      }
  }
}
</script>


<style>
    .modal_backdrop
    {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2000;
        background: rgba(0,0,0,0.7);
        width: 100%;
        height: 100vh;
    }

    .modal_item{
        background: #ffffff;
        color: #333;
        padding: 15px;
        width: 40%;
        min-width: 300px;
        margin:auto;
        margin-top:2vh;
        border-radius: 5px;
    }

    .close{
        float:right;
        background: rgba(0,0,0,0.46);
        color: #ffffff;
        content: "&times;";
        height:25px;
        width:25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        opacity: .9;
        text-shadow: unset;
        cursor: pointer;
        box-shadow: 0 0 5px #ddd;
    }
</style>

