<template>
	<span>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar" ref="sidebar">

		  <!-- sidebar: style can be found in sidebar.less -->
		  <section class="sidebar">

		    <!-- Sidebar user panel (optional) -->
		    <div class="user-panel">
		      <div class="pull-left image">
		        <img src="http://via.placeholder.com/150x150" class="img-circle" alt="User Image">
		      </div>
		      <div class="pull-left info">
		        <p>{{get_user_item('name')}}</p>
		        <!-- Status -->
		        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
		      </div>
		    </div>

		    <!-- search form (Optional) -->
		    <form action="#" method="get" class="sidebar-form">
		      <div class="input-group">
		        <input type="text" name="q" class="form-control" placeholder="Search...">
		        <span class="input-group-btn">
		            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
		            </button>
		          </span>
		      </div>
		    </form>
		    <!-- /.search form -->

		    <!-- Sidebar Menu -->
		    <ul class="sidebar-menu" data-widget="tree">
		      <li class="header">HEADER</li>
		      <!-- Optionally, you can add icons to the links -->
		      <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>
		      <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
		      <li class="treeview">
		        <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
		          <span class="pull-right-container">
		              <i class="fa fa-angle-left pull-right"></i>
		            </span>
		        </a>
		        <ul class="treeview-menu">
		          <li><a href="#">Link in level 2</a></li>
		          <li><a href="#">Link in level 2</a></li>
		        </ul>
		      </li>
		    </ul>
		    <!-- /.sidebar-menu -->
		  </section>
		  <!-- /.sidebar -->
		</aside>

	</span>
</template>

<script type="text/javascript">
	export default{
		methods:{
			toggleSidebar(){
				this.$refs.sidebar.classList.toggle('showSidebar');
			}
		},
		mounted(){
			this.eventBus.$on('sidebar.toggle',this.toggleSidebar);
			document.querySelectorAll('.treeview').forEach(treeview=>{
				treeview.addEventListener('click', ()=>{
					treeview.classList.toggle('menu-open');
					treeview.querySelector('.treeview-menu').classList.toggle('display-block');
				})
			})
		},
		beforeDestroy()
		{
			this.eventBus.$off('sidebar.toggle',this.toggleSidebar);
		}
	}
</script>

<style type="text/css" scoped>
	
	.main-sidebar {
		transition: 0.4s;
	}
@media (max-width: 767px){

	.main-sidebar {
		transform: translate(-230px, 0);
	}

	.showSidebar{
		
		transition: 0.4s;
		transform: translate(0px, 0) !important;
	}
}
</style>

<style type="text/css">
	.display-block{
		display: block !important;
	}
</style>