<template>
  <div>
      <div class="panel panel-default">
        <div class="panel-body">
          <span style="font-size:1.3em">
            <b>{{label}}: </b> <u>{{value}}</u>
          </span>
          <br />
          <span>{{text}}</span>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  props:{
    label:{
      type: String,
      required: false,
      default: 'Active Users'
    },
    value:{
      type: [String, Number],
      required: false,
      default: '100'
    },
    text:{
      type: String,
      required: false,
      default: 'active Users Monthly'
    },

  }
}
</script>

<style scoped>
  *{
    color:#333;
  }
</style>


