<template>
    <table class="table table-striped table-hovered" v-if="transactions != null && transactions.length > 0">
    <thead>
        <tr>
        <th>Transaction</th>
        <th>User</th>
        <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(transaction, index) in transactions" v-bind:key="index">
        <td>
            {{transaction.event}}
        </td>
        <td>
            {{transaction.user}}
        </td>
        <td>
            {{transaction.amount}}
        </td>
        </tr>
    </tbody>
    </table>  
    <div v-else>
        <h2 align="center" class="text-muted">
            <span class="text-muted ion ion-ios-close-outline"></span><br />
            No Transactions recorded yet
        </h2>
    </div>
</template>  
<script>
export default {
  props:['transactions']
}
</script>

<style scoped lang="scss">
 .text-muted
 {
     span{
         font-size: 2.8em;
     }
     color: #888;
 }
</style>

