<template>
  <div>
      <container>

        <h3>
          <button class="btn btn-success pull-right">Withdraw</button>
          Hello, welcome {{get_user_item('phone')}}
        </h3>

        <div class="row">
          <div><br />&nbsp;</div>
          <div class="col-sm-6 col-md-4">
            <summary-item label="Account Balance" :value="get_user_item('balance')" text="Total Savings so far"></summary-item>
          </div>
          <div class="col-sm-6 col-md-4">
            <summary-item label="Next Withdrawal" :value="parseDate(get_cycle_item('ending'))" text="Next day I can Withdraw my money"></summary-item>
          </div>
          <div class="col-sm-6 col-md-4">
            <summary-item label="Plan" :value="`Save ${get_cycle_item('amount')} in ${get_cycle_item('time_period')}`" text="What is my savings plan?"></summary-item>
          </div>
        </div>
      <txn-history :transactions='transactions'></txn-history>

      </container>
  </div>
</template>

<script>
import Container from './components/body';
import SummaryItem from './components/summaryItem';
import TxnHistory from './components/transaction_history'
import moment from 'moment';

export default {
  components:{
    Container,
    SummaryItem,
    TxnHistory
  },
  data(){
    return{
      transactions : null
    }
  },
  mounted(){
    this.http.get('/transaction/history').then(resp=>{
      this.transactions = resp.data
    });
  },
  methods:{
    parseDate(input)
    {
      return new Date(input).toDateString();
    }
  }
}
</script>
