<template>
	<div>
		<section class="home">
			<div class="col-sm-6" align="center">
				<h3 class="text-white">Lajo Money management</h3>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				<br /><br/>&nbsp;<br />
			</div>
			<div>
				<router-link class="btn btn-lg border-radius--custom" to="/login" style="background: #eee;padding: 10px 20px;font-size: 1.5rem;font-weight: bold;color: #333;">Login</router-link>
			</div>
		</section>

		<section class="features">
			<div class="container" align="center">
				<div class="row">
						
					<div class="col-sm-4">
						<div class=" padding2 feature-box">
							<div class="feature-icon">
								<span class="fa fa-cog"></span>
							</div>

							<h4>Important</h4>
							<div class="feature-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br />&nbsp;<br/>
								<a class="">Learn more &rarr;</a>
							</div>	
						</div>
					</div>
						
					<div class="col-sm-4">

						<div class=" padding2 feature-box">
							<div class="feature-icon">
								<span class="fa fa-arrow-circle-up"></span>
							</div>

							<h4>Important</h4>
							<div class="feature-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br />&nbsp;<br/>
								<a class="">Learn more &rarr;</a>
							</div>	
						</div>
					</div>
						
					<div class="col-sm-4">
						<div class=" padding2 feature-box">
							<div class="feature-icon">
								<span class="fa fa-trash"></span>
							</div>

							<h4>Important</h4>
							<div class="feature-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br />&nbsp;<br/>
								<a class="">Learn more &rarr;</a>
							</div>	
						</div>
						
					</div>



				</div>
			</div>
		</section>

		<section class="features bg-grey">
			<br>
			<br>
			<br>&nbsp;
			<br>&nbsp;
			<h3 align="center">
				Space Left Blank for dramatic effect!
			</h3>
		</section>

	</div>
</template>

<script type="text/javascript" scoped>
	export default{
	};
</script>

<style type="text/css">
	
.help.is-danger
{
	color: red;
}

input.is-danger{
	border: 1px solid red;
}
</style>

<style type="text/css"  lang="scss">
	$grey : #ddd;

body{
	font-family:'Lato', sans-serif;
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6
{
	font-family:'Raleway', sans-serif;
}

.main.router-link-active
{
	color: #333 !important;
	border-bottom: 2px solid #333;
}


//spacing and widths
.one-whole
{
	width:100%;
}

.padding
{
	padding:1rem;
}

.padding-h
{
	padding-left:1rem !important;
	padding-right:1rem !important;
}

.padding2
{
	padding:2rem
}

.padding05
{
	padding:0.5rem;
}

.padding-v
{
	padding-top:1rem !important;
	padding-bottom:1rem !important;
}



//My Custom input elements

.border-radius--custom
{
	border-radius:40px;
}

.border-radius--large
{
	border-radius:50%;
}

.bg-grey
{
	background: $grey;
}

.border-grey
{
	border: 1px solid;
	border-color: $grey;
	outline:none;
}

.no-outline
{
	outline:none;
}

textarea.one-whole{
	resize:none;
}


//Colours

.text-white
{
	color:#fff;
}

.text-dark
{
	color:darken($grey, 60%);
}


section.home
{
		background: linear-gradient(to bottom right, #42A5F5,#283593);
		height: 60%;
		min-height: 300px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		flex-direction: column;
}

nav.navbar
{
	box-shadow: 0 0 5px rgba(0,0,0,0.35);
	margin:0px;
}

#app{
	padding-top:40px;
}

section.features
{
	margin-top:6rem;
	padding-bottom:6rem;
}

.feature-box
{
	padding:15px;
	border:1px solid #ddd;
	border-radius:3px;
	margin:3px;
}

.feature-icon
{
	font-size: 40px;
}

.feature-icon:hover
{
	transform: rotate(360deg);
	transition: 0.5s;
}


.full-width
{
	width: 100%
}

.mx-datepicker
{
	width:100% !important;
	.form-control
	{
		background: #fff !important;
	}
}
</style>