<template>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-6">
				<div class="">
					<div class="panel-body">
						<h4 align='center'>Login Below</h4>
						<label for="">Phone</label>
						<input type="text" v-model="phone" class="form-control" placeholder="Enter Phone"><br />
						<label for="">Password</label>
						<input type="password" v-model="password" class="form-control" placeholder="Enter Password"><br /> 
						<button class="btn btn-primary btn-block" @click="login">Login</button>
						<br />
						<span>Not a member? <router-link to="/register"> Register here</router-link></span><br />
						<span>Forgot password? <router-link to="/password/reset"> Reset Password</router-link></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	export default{
		data(){
			return{
				phone : '',
				password : ''
			}
		},
		methods:{
			login(){
				this.http.post('auth/login', {phone : this.phone, password : this.password}).then(resp=>{
					this.$cookie.set(this.config.cookie_name, resp.token, { expires: '100m' });
					this.$cookie.set('user_data', JSON.stringify(resp.user));
					this.$store.dispatch('setUser',resp.user);
					window.location.replace('/dashboard');
				}).catch(error=>{
					console.warn(error);
					swal('Error', error.message || 'An Unknown Error Occurred', 'error');
				});
			}
		}
	}
</script>