<template>
  <div>
      <container>
              <div>
                  <br />&nbsp;
              </div>
              <span class="pull-right">
                <button class="btn btn-default" @click="openModal('fundModal')">Fund Wallet</button>
                <button class="btn btn-info" @click="openModal('createModal')">Create User</button>
                <button class="btn btn-success" @click="openModal('withdrawModal')">Initiate Withdrawal</button>
              </span>
              <div class="container visible-xs">
                  <br />
              </div>

              <modal :with-button='false' ref='rechargeModal' :title="'Fund Your Wallet'" width='400px'>
                  <label for="voucher">Voucher Number</label>
                  <input type="text" name="" class="form-control" v-model="rechargeVoucher" placeholder="Voucher Code" />
                  <button class="btn btn-info btn-block" @click='loadRecharge'>Submit</button>
              </modal>

              <modal :with-button='false' ref='fundModal' width='400px'>
                  <h4>Fund User Modal</h4><br />
                    <label for="amount">Amount</label>
                    <input type="number" name="" class="form-control" v-model="fund.amount" placeholder="#8,000" id="">
                    <label for="phone">Phone Number</label>
                    <input type="number" name="" id="phone" class="form-control" v-model="fund.phone" placeholder="Enter Phone number" /><br />
                  <button class="btn btn-info btn-block" @click='fundWallet'>Submit</button>
              </modal>

                <!-- Modal for the create user action -->
              <modal :with-button='false' ref='createModal' width='400px'>
                <h4>Create User</h4><br />
                <div class="" v-if="added==false">
                  <label for=""><span>Name</span></label>
                  <input type="text" v-model="entry.name" class="form-control datepicker" placeholder="Name">

                  <label for=""><span>Phone Number</span></label>
                  <input v-model="entry.phone" 
                  v-validate="'required|min:9'" 
                  data-vv-as="phone" 
                  name='phone'
                  :class="{'is-danger': errors.has('phone') }" 
                  type="text" 
                  class="form-control" 
                  placeholder="Phone" id="" />
                  <span v-show="errors.has('phone')" class="help is-danger">{{ errors.first('phone') }}<br /></span>

                    <label for=""><span>Target Amount</span></label>
                    <input type="number" v-model="entry.target" 
                    v-validate="'required|min_value:5000'" 
                    data-vv-as="Target" 
                    :class="{'is-danger': errors.has('target') }" 
                    name='target'
                    class="form-control" placeholder="Enter Target Amount">
                  <span v-show="errors.has('target')" class="help is-danger">{{ errors.first('target') }}<br /></span>

                    <label for=""><span>Tenor Period (in Days)</span></label><br />
                    <!-- <datepicker input-class="full-width form-control" 
                    placeholder="Select Withdrawal Date" v-model="entry.date" lang="en" 
                    :not-before="date.setDate(date.getDate())"></datepicker> -->
                    <input type="number" class="form-control" 
                    v-model="entry.date"
                    v-validate="'required|max_value:366'" 
                    :class="{'is-danger': errors.has('tenor') }" 
                    data-vv-as="Tenor" name="tenor" id="">
                    <span v-show="errors.has('tenor')" class="help is-danger">{{ errors.first('tenor') }}<br /></span>
                    <br />
                      <button class="btn btn-info btn-block" @click="createUser">Next</button>
                </div>
                <div v-else>
                    <label for=""><span>Account Name</span></label>
                    <input type="text" class="form-control" v-model="entry.account_name" />

                    <label for=""><span> Number</span></label>
                    <input type="text" class="form-control" v-model="entry.account_number" />

                    <label for=""><span> Bank</span></label>
                    <select name="" class="form-control" v-model="entry.bank_code" v-if="bankList!=null" id="">
                        <option v-for="(bank,key) in bankList.data" :key="key" :value="key">{{bank}}</option>
                    </select>
                    <br /> &nbsp;
                    <button class="btn btn-primary btn-block" @click="addBank">Create</button>
                </div>
              </modal>

              <!-- Modal to withdraw -->
              <modal :with-button='false' ref='withdrawModal' width='400px'>
                  <h4>Withdrawal</h4>
                  <div v-if="amount_entered==false">
                    <label for="phone"><small>Enter Phone</small></label>
                    <input type="text" v-model="withdrawal.phone" name="phone" id="phone" class="form-control" placeholder="Client's Phone Number" />
                    
                    <label for="amount"><small>Enter Amount</small></label>
                    <input type="text" v-model="withdrawal.amount" class="form-control" placeholder="Enter Amount to withdraw" />
                    <br />
                    <button class="btn btn-info btn-block" @click="withdrawStepOne">Next</button>
                  </div>
                  <div v-else>
                    <label for="code"><small>Enter Code</small></label>
                    <input type="text" name="code" id="code" v-model="withdrawal.code" class="form-control" placeholder="Code Sent to Client" /><br />
                    <button class="btn btn-info btn-block" @click="confirmWithdrawal">Finish</button>
                    <a href="#" @click.prevent="resetWithdrawal"><small>reset process</small></a>
                  </div>
              </modal>
          <h3>
              Hello, welcome {{get_user_item('phone')}} <br /><small>{{get_user_item('name')}}</small>
          </h3>
          <div class="row">
            <div><br />&nbsp;</div>
            <div class="col-sm-6 ">
                <summary-item label="Account Balance" :value="get_user_item('balance')" text="Total Amount in Wallet"></summary-item>
            </div>

            <div class="col-sm-6 ">
                <summary-item label="Last TopUp" :value="get_user_item('last_updated') || 'None'" text="Last Day I funded my Wallet"></summary-item>
            </div>
          </div>
          <button class="btn btn-link pull-right"  @click="openModal('rechargeModal')">Top Up Wallet</button>
         <txn-history :transactions="transactions"></txn-history>
      </container>
  </div>
</template>

<script>
import Container from './components/body';
import SummaryItem from './components/summaryItem';
import Modal from './components/modal';
import TxnHistory from './components/transaction_history';
import Datepicker from 'vue2-datepicker';
import axios from 'axios';


export default {
    components: {
        SummaryItem,
        Container,
        Modal,
        TxnHistory,
        Datepicker
    }, 
    data()
    {
        return{
            date: new Date(),
            transactions:null,
            bankList:null,
            added:false,
            entry: {},
            amount_entered:false,
            withdrawal:{},
            fund:{},
            rechargeVoucher:null
        }
    },
    methods:{
        openModal(modalName){
            this.$refs[modalName].active = true;
        },
        confirmWithdrawal(){
            this.http.post('withdraw/confirm', this.withdrawal).then(resp=>{
                swal('Success', resp.message, 'success');
                this.amount_entered=false;
                this.$refs['withdrawModal'].active = false;
                this.get_transaction_history();
            }).catch(error=>{
                swal('Error', error.message, 'error');
            });
        },
        createUser()
        {
            if(!this.errors.any())
            {
                this.http.post('user/create', this.entry).then(resp=>{
                    
                    if(resp.data)
                    {
                        this.added          = true;
                        this.entry          = {};
                        this.entry.user_id  = resp.data.id;
                    }
                }).catch(error=>{
                    swal('Error', error.message || 'An Unknown Error Occurred', 'error');
                });
            }
            else{
                swal('Error','please check your input','warning');
            }
        },
        fundWallet(){
            swal({title:'Warning', text:`You are about to fund ${this.fund.phone} with N${this.fund.amount}, continue?`, icon: 'warning', buttons:['Cancel','Ok']})
            .then(resp=>{
                if(resp==true)
                {
                    this.http.post('wallet/fund', this.fund).then(resp=>{
                        swal('Success', resp.message, 'success')
                        this.fund ={};
                        this.reload_user_data();
                        this.$refs['fundModal'].active = false;
                        this.get_transaction_history();
                    }).catch(error=>{
                        swal('Error', error.message || 'an Unknown error Ocurred', 'error');
                    })
                }
            })
        },
        addBank()
        {
          this.entry.bank_name = this.bankList.data[this.entry.bank_code]
          this.http.post('user/bank', this.entry).then(resp=>{
              this.$refs.createModal.active = false;
              swal('Success', resp.message, 'success');
              this.entry = {}
              this.added = false;
          }).catch(error=>{
              swal('Error', error.message || 'An Unknown Error Occurred', 'error');
          })
        },
        get_transaction_history()
        {
            this.http.get('/transaction/history').then(resp=>{
                this.transactions = resp.data
            });
        },
        resetWithdrawal(){
            this.http.post('log', {event:"reset withdrawal for "+this.withdrawal.phone, amount:this.withdrawal.amount}).then(resp=>{
                this.amount_entered = false;
            })
        },
        loadRecharge(){
            this.http.post('recharge', {code:this.rechargeVoucher}).then(resp=>{
                swal('Success', resp.message, 'success');
                this.reload_user_data();
            }).catch(error=>{
                 swal('Error', error.message || 'An unknown error occured', 'error');
            });
        },
        withdrawStepOne(){
            if(this.errors.any())
            {
                swal('Error', 'Please Check Your Input', 'warning');
            }
            else{
                this.http.post('withdraw/balance', this.withdrawal).then(response=>{
                    if(response.status=="success")
                    {
                        this.amount_entered = true
                    }
                }).catch(error=>{
                    swal('Error', error.message || 'An unknown error occured', 'error');
                });
            }
        }
    },
    mounted(){
        this.get_transaction_history();

        this.http.get('banks').then(resp=>{
            this.bankList = JSON.parse(resp)
        }).catch(error=>{
            console.warn(error)
        })
    }
}
</script>

