<template>
  <div class="container">
      <div class="row">
			<div class="col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-6">
				<form class="" @submit.prevent="register" v-if="user_id == null">
					<div class="panel-body">
						<h4 align='center'>Register Below</h4>
						<label for="">Name</label>
						<input type="text" v-model="entry.name" class="form-control" placeholder="Enter Name">

						<label for="">Phone</label>
						<input type="text" v-model="entry.phone" v-validate="'min:9|numeric'" data-vv-as="phone" :class="{'is-danger': errors.has('phone') }" name="phone" class="form-control" placeholder="Enter Phone">
						<p v-show="errors.has('phone')" class="help is-danger">{{ errors.first('phone') }}</p>

						<label for="">Email</label>
						<input type="email" v-validate="'email'" data-vv-as="email" :class="{'is-danger': errors.has('email') }" v-model="entry.email" name="email" class="form-control" placeholder="Enter Email">
						<p v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</p>

						<label for="">Password</label>
						<input type="password" v-validate="'min:6'" data-vv-as="password" :class="{'is-danger': errors.has('password') }" name="password" v-model="entry.password" class="form-control" placeholder="Enter Password">
						<p v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</p>

						<br /> 
						<button class="btn btn-primary btn-block" type="submit">Register</button><br />
						Already registered? <router-link to="/login">Login here</router-link>
					</div>
				</form>
				<div v-else>
					<h4 align="center">Enter Code Here</h4>

					<label for="">Access Code</label>
					<input type="text" class="form-control" v-model="code" placeholder="Enter Access Code"><br />
					<button class="btn btn-primary btn-block" @click="verifyAccount" type="submit">Continue</button><br />
				</div>
			</div>
		</div>
  </div>
</template>

<script>
export default {
	name : 'register',
	data(){
		return{
			entry : {},
			user_id : null,
			code: null
		}
	},
	methods : {
		register(){
			if(!this.errors.any())
			{
				this.http.post('auth/register', this.entry).then(resp=>{
					this.$cookie.set(this.config.cookie_name, resp.token, { expires: '900m' });
					this.$cookie.set('user_data', JSON.stringify(resp.data));
					this.user_id = resp.data.id;
				}).catch(error=>{
					swal('Error', error.message || 'An Unknown Error Occurred', 'error');
				});
			}
			else
			swal('Error', 'Please fill in the form properly', 'error')
		},

		verifyAccount(){
			this.http.post('auth/verify', {user_id: this.user_id, code: this.code}).then(resp=>{
				this.$cookie.set('user_data', JSON.stringify(resp.data));
				 window.location = '/dashboard';
			}).catch(e=>{
				swal('Error', 'Access Code Not verified', 'error')
			})
		}
	}
}
</script>

