<template>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-6">
				<div class="">
					<div class="panel-body">
						<h4 align='center'>Reset Password</h4>
						<span v-if="!phoneEntered">
							<label for="">Phone</label>
							<input type="text" v-model="phone" class="form-control" placeholder="Enter Phone"><br />
							<button class="btn btn-primary btn-block" @click="sendPasswordResetToken">Reset Password</button>
							<br />
							<span>Remembered Password? <router-link to="/login"> Login here</router-link></span>
						</span>
						<span v-else>
							<span class="text-muted">Please Check your phone and enter the pin sent you.</span><br />
							<label for="">Code</label>
							<input type="text" v-model="code" class="form-control" placeholder="Enter Pin"><br />
							<label for="">New Password</label>
							<input type="text" v-model="newPassword" class="form-control" placeholder="Enter New Password"><br />
							<button class="btn btn-primary btn-block" @click="completeReset">Reset Password</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default{
		data(){
			return{
				phoneEntered: false,
				newPassword: null,
				phone:null,
				code: null
			}
		},
		methods: {
			completeReset() {
				this.http.post('password/reset/confirm', {code:this.code, password: this.newPassword, phone:this.phone}).then (resp =>{
					this.$cookie.set(this.config.cookie_name, resp.token, { expires: '100m' });
					this.$cookie.set('user_data', JSON.stringify(resp.user));
					this.$store.dispatch('setUser',resp.user);
					window.location.replace('/dashboard');
				})
			},
			sendPasswordResetToken(){
				this.http.post('password/reset', {phone:this.phone}).then(resp =>{
					this.phoneEntered = true;
				}).catch(err => {
					swal('Error', 'Please Check your phone number and try again', 'warning');
				});
			}
		}
	}
</script>
