<template>
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-sm-offset-2 col-md-4 col-md-offset-4">
              <br />&nbsp;
              <form class="panel panel-default" @submit.prevent.stop="(generated==false) ? submitPhone : submitCode">
                  <div class="panel-body">
                      <h4 align="center"> 
                          Enter Phone number and Code to verify your account.<br />&nbsp;
                      </h4>
                      <div v-if="generated==false">
                        <label for="phone">Enter Phone Number</label>
                        <input type="phone" v-model="phone" class="form-control">
                        <br />
                        <button type="submit" class="btn btn-info btn-block" @click.prevent.stop="submitPhone">Next</button>
                      </div>
                      <div v-else>
                        <label for="phone">Enter Code</label>
                        <input type="password" v-model="code" class="form-control code">
                        <br />
                        <button type="submit" class="btn btn-info btn-block" @click.prevent.stop="submitCode">Fnish</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</template>

<script>
export default {
  data(){
      return{
          phone:null,
          generated:false,
          code:null,
          user_id:null
      }
  },
  methods:{
      submitCode()
      {
          this.http.post('/auth/code/verify', {code:this.code, user_id:this.user_id}).then(resp=>{
              this.$store.dispatch('setUser',resp.data);
              this.$cookie.set(this.config.cookie_name, JSON.stringify(resp.data));
              this.$router.push('/dashboard');
          }).catch(error=>{
              swal('Error', error.message || 'An unknown error occurred', 'error');
          })
      },
      submitPhone()
      {
          this.http.post('/auth/code/generate', {phone:this.phone}).then(resp=>{
              this.generated = true;
              this.user_id = resp.data.id
          }).catch(error=>{
              swal('Error', error.message || 'An unknown error occurred', 'error');
          })
      }
  }
}
</script>

<style>
    .code{
        font-size: 20px;
        text-align: center;
        color: #000;
    }
</style>


