<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <title>Lajo Money Manageent thing</title>
</head>
<body>

    <nav class="navbar navbar-default   ">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="#">Admin Panel</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/admin/logout"> Log out</a></li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="container">

        <button class="btn btn-info pull-right" data-target="#cardModal" data-toggle="modal">Generate Cards</button>
        <h4>
            Welcome to the admin Panel<br />&nbsp;
        </h4>

        <div>

            <b>Admin Requests</b>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Date Registered
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {%for request in waiting_list %}
                        <tr>
                            <td>
                                {{request.agent.name}}
                            </td>
                            <td>
                                {{request.agent.phone}}
                            </td>
                            <td>
                                {{request.created.day}} / {{request.created.month}} / {{request.created.year}}
                            </td>
                            <td>
                                <a href="/admin/approve/{{request.id}}" class="btn btn-info">
                                    Approve
                                </a>
                                <!-- <button class="btn btn-primary">
                                    Decline
                                </button> -->
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>


    <!-- Modal for Creating Cards -->
    <!-- Modal -->
    <div id="cardModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
    
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Generate Vouchers</h4>
                </div>

                <div class="modal-body">
                    <form action="/admin/voucher/generate" method="POST">
                        <label for="">Number of Vouchers</label>
                        <input type="number" name="quantity" value="" class="form-control" placeholder="Number of Cards to Generate" />
                        <small class="pull-right">(Max 500)</small>
                        <br />
                        <label for="">Amount of Voucher</label>
                        <input type="number" name="amount" class="form-control" placeholder="Amount on Vouchcers" />
                        <br />
                        <button class="btn btn-info btn-block">
                            Submit
                        </button>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                </div>
            </div>
    
        </div>
    </div>

    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
  
</body>

</html>