<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <title>Lajo Money Manageent thing</title>
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top:10%">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-2">
                <div class="panel panel-default">
                    <form class="panel-body" method="post">
                        <h4 align="center">Login Below</h4>
                        <label for="username">Enter Email</label>
                        <input type="email" name="email" class="form-control" id="username" required>
                        <br /> &nbsp;
                        <label for="password">Enter Password</label>
                        <input type="password" name="password" id="password" class="form-control" required />
                        <br />&nbsp;
                        <button type="submit" class="btn btn-default btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>